---
layout: page
title: The Evolution Pit - Heroes
nav: Heroes
permalink: /heroes/
order: 1
---

<div class="container heroes" ng-controller="HeroList">
  <div style="text-align: right" class="graph-selector">
      <a href="#" ng-class='{active: graphing=="win_rate"}' ng-click="graphing='win_rate'">Win Rate</a>
      <a href="#" ng-class='{active: graphing=="popularity"}' ng-click="graphing='popularity'">Popularity</a>
      <a href="#" ng-class='{active: graphing=="score"}' ng-click="graphing='score'" ng-init="graphing='score'">Meta Score</a>
  </div>
  <div class="hero-graph">
    <div class="sk-folding-cube" ng-show="loading">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
  <table>
    <col width="10"></col>
    <col></col>
    <col width="70" class="stat"></col>
    <col width="70" class="stat"></col>
    <col width="70" class="stat"></col>
    <col width="70" class="stat"></col>
    <col width="70" class="stat"></col>
    <col width="70" class="stat"></col>
    <thead>
      <tr>
        <th><!-- Hero Name --></th>
        <th>Win Rate</th>
        <th>Popularity</th>
        <th>Siege<br />Damage</th>
        <th>Hero<br /> Damage</th>
        <th>Role<br /> Damage</th>
        <th>Meta Score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="hero in heroes | orderBy:'-score' " ng-class="{hovered: activeHero.name === hero.name}" ng-click="toggleFocused(hero, $event)">
        <td><input type="checkbox" ng-model="hero.focused" ng-click="dont(hero)"></td>
        <td><a ng-href="/hero/{{ hero.name }}" ng-bind='hero.name'></a></td>
        <td class="stat" ng-bind='hero.win_rate | percent'></td>
        <td class="stat" ng-bind="hero.popularity | percent"></td>
        <td class="stat">--</td>
        <td class="stat">--</td>
        <td class="stat">--</td>
        <td class="stat" ng-bind="hero.score | round" style="text-align: center!important;"></td>
      </tr>
    </tbody>
  </table>
</div>

