<section class="esports">
  <h2>eSports (ESL Spring)</h2>
  <table>
    <colgroup>
      <col>
      <col width="70">
      <col width="70">
    </colgroup>
    <thead>
      <tr>
        <th><!-- team name --></th>
        <th>Chance to Win</th>
        <th>Record</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MVP Black</td>
        <td class="stat">100%</td>
        <td class="stat">27/0</td>
      </tr>
      <tr>
        <td>Edward Gaming</td>
        <td class="stat">0%</td>
        <td class="stat">24/3</td>
      </tr>
    </tbody>

  </table>
  <div class="more-link">
    <a href="/esports">See Full Bracket →</a>
  </div>

</section>
