<header class="site-header" ng-controller="Header">
  <h1><a href="{{site.baseurl}}/">The Evolution Pit</a></h1>
  <!--
  <div class="league-selector">
    <select ng-model="league">
      <option>Hero League</option>
      <option>Team League</option>
      <option>Quick Match</option>
    </select>
  </div>
  -->
</header>
<br />
<!--
<nav class="site-nav">
  <ul>
    {% assign sorted_pages = (site.pages | sort: 'order') %}
    {% for my_page in sorted_pages %}
    {% if my_page.nav %}
    <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.nav }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
-->
