<section class="newsletter">
  <img src="http://hydra-media.cursecdn.com/heroesofthestorm.gamepedia.com/thumb/a/a9/Abathur.png/240px-Abathur.png">
  <div class="logical">
    Never miss a change in the meta
  </div>
  <div class="sub-logical">
    Logical decision.
  </div>
  <form action="//evolutionpit.us13.list-manage.com/subscribe/post?u=9f0f0492751fae68b37dae270&amp;id=a1a0e5b107" method="post">
    <input type="email" placeholder="abathur@evolutionpit.com" name="EMAIL">
    <input type="submit" value="SIGN UP FOR OUR NEWSLETTER">
  </form>
</section>
